<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class = "box">
  <div class = "form">
    <h2>Sign in</h2>
    <div class = "inputBox">
      <input type="text" required="required">
      <span>Email</span>
      <i></i>
    </div>

    <div class = "inputBox">
      <input type="password" required="required">
      <span>Password</span>
      <i></i>
    </div>

    <div class="links">
      <a href="#">Forgot Password</a>
      <a href="#">Signup</a>
    </div>

    <div>
      <input type="submit" value="Login">
    </div>
  </div>
</div>
</body>
</html>
